[mysqld]
character-set-server = utf8
collation-server = utf8_unicode_ci
skip-character-set-client-handshake
bind-address           = 0.0.0.0

server-id=2
gtid_mode=ON
enforce-gtid-consistency

# Включаем хранение информации о логах через служебные таблицы, а не через файлы
master-info-repository = TABLE
relay-log-info-repository = TABLE

# База данных для репликации
binlog_do_db = soc_db
